ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(178, 165, 238, 0.884);
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#secret {
  float: left;
}

li a:hover {
  background-color: rgba(178, 165, 238, 0.884);
}

#div1 {
  background-color: rgba(178, 165, 238, 0.884);
}
#div2 {
  background-color: rgba(178, 165, 238, 0.884);
}
